.container {
  display: flex;
  justify-content: center;
}

.item {
  height: 300px;
}

.green {
  background: green;
  flex-grow: 1;
}

.yellow {
  background: yellow;
  flex-grow: 2;
}

.purple {
  background: purple;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {

  .container {
    flex-direction: column;
  }
}
