div {
    background-color: darkcyan;
    height:120px;
    width: 350px;
    font-size: 36px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border: 15px solid #4f7dc6;
    box-sizing: content-box;
    text-align: center;
    line-height: 120px;
}

.north-box {
    background-color: rgb(241, 112, 134);
    border-bottom: 0px;
}
.east-box {
    background-color: rgb(241, 112, 134);
    border-top: 0px;
    margin-bottom: 5px;
}
.south-box {
    background-color: lightskyblue;
    border-bottom: 0px;
}
.west-box {
    background-color: lightskyblue;
    border-top: 0px;
}