table {
  border: 30px solid rgb(91, 91, 228);
  border-collapse: collapse;
}

h1, body {
  font-family: Arial, Helvetica, sans-serif;
}

th {
  font-weight: normal;
  font-size: 25px;
  background: rgb(44, 43, 43);
  color: lightgrey;
  border: 2px solid gray;
  border-bottom-width: 5px;
  text-align: left;
}

td {
  border: 2px solid grey;
  color: rgb(83, 83, 83);
}

th, td {
  width: 400px;
  height: 100px;
  font-size: 30px;
  padding-left: 20px;
}

tbody tr:nth-child(odd) {
  background: lightgray;
}

td[class="currency"]::before {
  content: "$";
}
