body {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

header {
  width: 100%;
  min-height: 70px;
  margin: 0 auto;
}

nav {
  min-height: 50px;
}

nav ul {
  width: 100%;
  min-height: 50px;
  display: flex;
  background-color: rgb(179, 29, 179);
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  display: block;
  list-style-type: none;
  text-decoration: none;
  background: skyblue;
  padding: 0;
  width: 100px;
  height: 30px;
  margin: 20px;
}

.wrapper {
  width: 100vh;
  height: 600px;
  margin: 0 auto;
  display: flex;
  margin-top: 2px;
}

section {
  background: rgb(241, 241, 76);
  width: 63%;
  padding: 1%;
  margin: 1%;
  order: 1;
}

aside {
  background: rgb(66, 212, 66);
  width: 33%;
  padding: 1%;
  margin: 1%;
  order: 0;
}

.footer-content {
  background-color: lightgrey;
  width: 100vh;
  height: 50px;
  padding: 0;
  margin: 0 auto;
}
