.container {
  background: yellow;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.item {
  height: 100px;
  width: 100px;
  background: purple;
  margin-left: 5px;
}

li {
  list-style: none;
}
